@import "./mixins";
@import "./variables";

@font-face {
  font-family: ArchivoBlack;
  src: url("../../public/assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../public/assets/fonts/mont/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratBold;
  src: url("../../public/assets/fonts/mont/Montserrat-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: transparent;
  width: 100%;
  background: #f9f9f9;
  font-family: Outfit;
  font-weight: 400;
  margin: 0 auto;
}
.mainlux {
  font-family: MAINLUX;
}

h2 {
  font-size: 24px;
  line-height: 29.76px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  letter-spacing: 4%;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 28.06px;
  }
}

.page_container {
  width: 90%;
  margin: 0 auto;
  max-width: 1420px;
  
  // @media (max-width: 768px) {
  //   width: 100%;
  //   margin: 0 auto;
  //   border: 2px solid green;
  // }
}

h3 {
  font-size: 40px;
  line-height: 56.11px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  letter-spacing: 4%;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 28.06px;
  }
}

h4 {
  font-size: 32px;
  line-height: 37.41px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  letter-spacing: -2%;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 28.06px;
  }
}

h5 {
  font-size: 24px;
  line-height: 28.06px;
  font-weight: 700;
  font-family: "Karla", sans-serif;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

p,
span {
  font-family: Outfit;
  font-weight: 400;
}

/* Global Utility Classes */

/* Neutral Colors */
.bg-neutral-50 {
  background-color: var(--neutral-50);
}
.text-neutral-50 {
  color: var(--neutral-50);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}
.text-neutral-100 {
  color: var(--neutral-100);
}

.bg-neutral-200 {
  background-color: var(--neutral-200);
}
.text-neutral-200 {
  color: var(--neutral-200);
}

.bg-neutral-300 {
  background-color: var(--neutral-300);
}
.text-neutral-300 {
  color: var(--neutral-300);
}

.bg-neutral-400 {
  background-color: var(--neutral-400);
}
.text-neutral-400 {
  color: var(--neutral-400);
}

.bg-neutral-500 {
  background-color: var(--neutral-500);
}
.text-neutral-500 {
  color: var(--neutral-500);
}

.bg-neutral-600 {
  background-color: var(--neutral-600);
}
.text-neutral-600 {
  color: var(--neutral-600);
}

.bg-neutral-700 {
  background-color: var(--neutral-700);
}
.text-neutral-700 {
  color: var(--neutral-700);
}

.bg-neutral-900 {
  background-color: var(--neutral-900);
}
.text-neutral-900 {
  color: var(--neutral-900);
}

/* Primary Colors */
.bg-primary-50 {
  background-color: var(--primary-50);
}
.text-primary-50 {
  color: var(--primary-50);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}
.text-primary-100 {
  color: var(--primary-100);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}
.text-primary-200 {
  color: var(--primary-200);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}
.text-primary-300 {
  color: var(--primary-300);
}

.bg-primary-400 {
  background-color: var(--primary-400);
}
.text-primary-400 {
  color: var(--primary-400);
}

.bg-primary-500 {
  background-color: var(--primary-500);
}
.text-primary-500 {
  color: var(--primary-500);
}

.bg-primary-600 {
  background-color: #e56337;
  // background-color: var(--primary-600);
}
.text-primary-600 {
  color: var(--primary-600);
}

.bg-primary-700 {
  background-color: var(--primary-700);
}
.text-primary-700 {
  color: var(--primary-700);
}

.bg-primary-800 {
  background-color: var(--primary-800);
}
.text-primary-800 {
  color: var(--primary-800);
}

.bg-primary-900 {
  background-color: var(--primary-900);
}
.text-primary-900 {
  color: var(--primary-900);
}

/* Shades */
.bg-shades-50 {
  background-color: var(--shades-50);
}
.text-shades-50 {
  color: var(--shades-50);
}

/* Generic Colors */
.bg-generic-white {
  background-color: var(--generic-white);
}
.text-generic-white {
  color: var(--generic-white);
}

.bg-generic-black {
  background-color: var(--generic-black);
}
.text-generic-black {
  color: var(--generic-black);
}

// input[type="tel"] {
//   outline: solid red;
// }
